/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

body .site {
	border: none;
	box-shadow: 0px 0px 10px 0px #d9dada;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

body .social {
	margin: 5px 5px;
}

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */
body .site-header {
	background: none;
	background-size: auto;
}

body .site-header .home-link img {
	width: 100%;
	max-width: 900px;
}

body .site-header .home-link {
	margin: 0 auto -2%;
	max-width: unset;
	min-height: unset;
	width: unset;
	padding: 5px 20px 0px;
	text-decoration: none;
	text-align: center;
}

body .site-header .home-link:focus,
body .site-header .home-link:hover {
	outline: none;
}

body .site-title {
	margin: -2% 0px 0px;
	padding: unset;
}

body article.image-attachment .entry-header {
	display: none;
}

body #headimg {
	background-size: 900px auto;
}
/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */
body .main-navigation {
	max-width: 900px;
}

body .nav-menu li:hover > a,
body .nav-menu li a:hover,
body .nav-menu li:focus > a,
body .nav-menu li a:focus {
	background-color: #2b2a29;
}

body .nav-menu .current_page_item > a,
body .nav-menu .current_page_ancestor > a,
body .nav-menu .current-menu-item > a,
body .nav-menu .current-menu-ancestor > a {
	color: unset;
	font-style: unset;
	font-weight: bold;
}

/* Navbar */
body .navbar {
	max-width: 1200px;
}

body .navbar .nav-menu {
	font-size: 0px;
}

body .navbar .nav-menu #menu-item-228 {
	float: right;
}

body .navbar .nav-menu #menu-item-228 {
	margin-right: 30px;
}

body .navbar .nav-menu .sub-menu {
	border: 0px solid white;
	border-top-width: 1px;
	background-color: #a51b23;
}

/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

body .entry-content .main .meta .widget {
	margin-bottom: 20px;
}

body .site-content .archive-header {
	display: none;
}

/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */

body .entry-header {
	margin-bottom: 0px;
}

/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */
body .entry-meta a {
	color: #a51b23;
}

body .entry-meta a:hover {
	color: #a51b23;
}

body .entry-meta {
	display: none;
}

body article.attachment .entry-header {
	padding: 10px 0;
}

/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */
body .entry-content a,
body .comment-content a {
	color: #a51b23;
}

body .entry-content table {
	width: 70%;
	margin: 0px auto;
}

body .entry-content table#courses td:first-of-type {
	width: 30%;
}

body .entry-content #accordion h6 {
	font-size: 14px;
	margin: 12px 0px;
}

body .entry-content .accordion .ui-accordion-content .envira-gallery-wrap {
	 max-height: 200px;
}

body .entry-content .accordion img.envira-gallery-image {
	 width: 233px;
}

body .entry-content .two-side-by-side img {
	width: calc(50% - 10px);
	margin: 0 5px;
}

/**
 * 5.10 Search Results/No posts
 * ----------------------------------------------------------------------------
 */
body .page-header {
	background-color: #d9dada;
}

/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */

body .error404 .page-title:before {
	color: #d9dada;
}

body .error404 .page-wrapper {
	background-color: #d9dada;
}


/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

body .site-info {
	padding: 10px 0;
}

body .site-footer {
	color: #fff;
}

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
@media (max-width: 1199px) {
	body .site {
		border: 0;
	}
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	body .site-title {
		padding: unset;
	}
}

@media (max-width: 643px) {
	body .menu-toggle,
	body .menu-toggle:hover,
	body .menu-toggle:focus,
	body .menu-toggle:active {
		color: #ffffff;
	}

	body .nav-menu li.page-item-48 {
		float: none;
		margin-right: unset;
	}
}

/**
 * 9.0 New
 * ----------------------------------------------------------------------------
 */
.nav-menu li.page-item-50 {
	display: none;
}

.nav-menu li.page-item-48 {
	float: right;
	margin-right: 40px;
}

.teaser,
.teaser-slim {
	position: relative;
	color: #ffffff;
	overflow: hidden;
}

.teaser .background,
.teaser-slim .background {
	max-width: unset;
	min-height: auto;
	width: 100%;
	background-color: #a51b23;
}

.teaser .logo {
	top: 11%;
	left: 10%;
	width: 80%;
}

.teaser > span,
.teaser > ul,
.teaser .logo,
.teaser-slim > span,
.teaser-slim .logo {
	position: absolute;
}

.teaser span.heading {
	top: 5%;
	left: 0;
	line-height: 1.1em;
	text-align: left;
	font-size: 1.25em;
	width: 100%;
	padding-left: 4%;
}

.teaser span.slogan {
	top: 42%;
	right: 0;
	line-height: 1.1em;
	text-align: right;
	font-size: 1.25em;
	width: 100%;
	padding-right: 4%;
}

.teaser span.meta {
	bottom: 19%;
	left: 0;
	text-align: left;
	line-height: 1.1em;
	font-size: 1em;
	width: 50%;
	padding-left: 4%;
}

.teaser ul.offer {
	bottom: 4%;
	right: 0;
	text-align: right;
	line-height: 0.9em;
	font-size: 1em;
	list-style-type: none;
	margin: 0;
	width: 50%;
	padding: 0 4% 0 0;
}

.teaser ul.offer li:not(:last-child) {
	margin-bottom: 0.3em;
}

.teaser.smile a .logo {
	width: 64%;
	left: 18%;
	top: 14%;
}

.teaser.smile a .smile-band {
	top: 38%;
	box-shadow: 0px 0px 5px white;
}

.teaser.smile a .logo-smile {
	width: 25%;
	left: 19%;
	top: 75%;
}

.teaser.smile .slogan,
.teaser.smile .meta {
	top: unset;
	bottom: 4%;
}

.teaser-slim span.slogan {
	top: 60%;
	right: 0;
	line-height: 1.1em;
	text-align: center;
	font-size: 1.25em;
	width: 100%;
	padding-right: 4%;
}

.teaser-slim .logo {
	top: 10%;
	left: 10%;
	width: 80%;
}

body .entry-content .teaser a,
body .entry-content .teaser-slim a {
	color: #fff;
}

body .entry-content .main .image {
	width: 60%;
	float: left;
}

body .entry-content .main .meta {
	width: 40%;
	float: right;
	padding-left: 20px;
	white-space: nowrap;
	word-break: break-all;
}

body .entry-content .main .slogan,
body .entry-content .main .offer-container {
	width: 60%;
	float: left;
}

body .entry-content .main .offer-container h6,
body .entry-content .main .meta h6 {
	margin: 0;
}

body .entry-content .main .map {
	margin-top: 10px;
}

body .entry-content .main .map iframe {
	width: 100%;
}

body .entry-content {
	margin-top: 20px;
}

.partner img {
	width: 300px;
	float:left;
}

.partner p {
	float: left;
	padding: 10px;
}

@media (min-width: 800px) {
	body .entry-header,
	body .entry-content,
	body .entry-summary,
	body .entry-meta,
	body .sidebar .entry-header,
	body .sidebar .entry-content,
	body .sidebar .entry-summary,
	body .sidebar .entry-meta {
		max-width: 800px;
		padding: 0;
	}
}

body .ui-icon, body .ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

@media (max-width: 800px) {
	body .entry-content .main .image,
	body .entry-content .main .image img,
	body .entry-content .main .meta,
	body .entry-content .main .slogan,
	body .entry-content .main .offer-container {
		width: 100%;
		float: none;
	}

	body .entry-content .main .meta {
		padding-left: unset;
	}

	body .entry-content table {
		width: 100%;
	}

	.teaser .logo {
		width: 70%;
		left: 15%;
	}

	.teaser span.slogan {
		top: 39%;
	}

	.teaser span.heading,
	.teaser span.slogan {
		font-size: 1em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.9em;
	}
}

@media (max-width: 767px) {
	.site-header .home-link {
		padding: 5px 10px 0px;
	}
}

@media (max-width: 750px) {
	body .navbar .nav-menu #menu-item-228 {
		float: none;
		margin-right: unset;
	}
}

@media (max-width: 660px) {
	.teaser .logo {
		width: 65%;
		left: 17%;
	}

	.teaser span.slogan {
		top: 36%;
	}

	.teaser span.heading,
	.teaser span.slogan {
		font-size: 0.9em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.8em;
	}
}

@media (max-width: 643px) {
	body .navbar .nav-menu .sub-menu {
		border-top-width: 0px;
	}
}

@media (max-width: 600px) {
	.teaser .logo {
		width: 60%;
		left: 20%;
	}

	.teaser span.slogan {
		top: 33%;
	}

	.teaser span.heading,
	.teaser span.slogan {
		font-size: 0.8em;
	}

	.teaser-slim span.slogan {
		font-size: 1em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.7em;
	}
}

@media (max-width: 500px) {
	.teaser .logo {
		width: 55%;
		left: 22%;
	}

	.teaser span.heading,
	.teaser span.slogan {
		font-size: 0.7em;
	}

	.teaser-slim span.slogan {
		font-size: 0.9em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.6em;
	}
}

@media (max-width: 440px) {
	.teaser span.heading,
	.teaser span.slogan {
		font-size: 0.6em;
	}

	.teaser-slim span.slogan {
		font-size: 0.8em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.5em;
	}
}

@media (max-width: 359px) {
	.teaser span.heading,
	.teaser span.slogan {
		font-size: 0.45em;
	}

	.teaser-slim span.slogan {
		font-size: 0.7em;
	}

	.teaser span.meta,
	.teaser ul.offer {
		font-size: 0.4em;
	}
	.site-header .home-link {
		padding: 2px 5px 0px;
	}
}
